<div class="login">
  <form class="login-box" [formGroup]="form" (ngSubmit)="login($event)">
    <mat-card class="mat-elevation-z10 login-card">
      <img mat-card-image src="assets/img/login.jpg" alt="Image" />
      <mat-card-content>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Correo electrónico</mat-label>
          <input
            autocomplete="off"
            formControlName="username"
            matInput
            placeholder="Ex. pat@example.com"
          />
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Contraseña</mat-label>
          <input
            formControlName="password"
            matInput
            [type]="hide ? 'password' : 'text'"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <div class="text-center">
          <button
            type="submit"
            mat-flat-button
            color="primary"
            [disabled]="isLoading"
          >
            Ingresar al sistema
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
