.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.form {
  width: 100%;
}

.content {
  min-width: 300px;
}

.last-field {
  padding-bottom: 0px;
}
