.mat-form-field {
  width: 100%;
}

.table-container {
  overflow: auto;
}

table {
  width: 100%;
}

.hide {
  display: none;
}

.mr-icon {
  margin-right: 5px;
}

.orange {
  background-color: #ffa420;
  padding: 5px;
  border-radius: 5px;
  color: black;
}

.yellow {
  background-color: yellow;
  padding: 5px;
  border-radius: 5px;
  color: black;
}

.green {
  background-color: #28B463;
  padding: 5px;
  border-radius: 5px;
  color: black;
}

.red {
  background-color: #ff3f3f;
  padding: 5px;
  border-radius: 5px;
  color: black;
}
